
<h1>Course List</h1>

<div class="class form-group row">

    <label class="col-sm-2 col-form-label">Filter By</label>

    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div>

<br>

<h2>Tipo de card 01</h2>
<div class="row">
  <div class="card" *ngFor="let course of filteredCourses">
    <img class="img" [src]="course.imageUrl" width="40" height="40">
    <div class="textBox">
      <p class="text head">{{course.name}}</p>
      <span><app-star [rating]="course.rating"></app-star></span>
      <p class="text price">R$ {{ course.price }}</p>
      <p class="desc">{{course.description}}</p>
      <div>
        <a [routerLink]="['/courses/info', course.id]" class="btn btn-light">Mais detalhes</a>
    </div>
    </div>
  </div>
</div>

<br>

<h2>Tipo de Card 02</h2>
<div class="flip-card" *ngFor="let course of filteredCourses">        
    <div class="flip-card-inner" >
        <div class="flip-card-front">
            <p>
            <img [src]="course.imageUrl" width="40" height="40">
            </p>
            <p class="title">{{course.name}}</p>
            <p>R$ {{ course.price }}</p>
            <app-star [rating]="course.rating"></app-star>
            
        </div>
        <div class="flip-card-back">
            <b class="title">Descrição: </b>
            <p>{{course.description}}</p>
            <div>
                <a [routerLink]="['/courses/info', course.id]" class="btn btn-outline-dark">Mais detalhes</a>
            </div>
        </div>
    </div>
</div>


