
<header>
    <div class="col-mt-0 nopadding">
        <img class="img"src="./assets/images/banner.png" alt="">
        <h1>Olá, eu sou o Luiz Ricardo</h1>
        <b>Seja bem vindo ao meu portfólio!</b>
        <p>Fazer da pagina home, o curriculo</p>
    </div>
</header>
<br>

<section class="sessao-conhecimentos">
<div class="sessao-header">
    <h1>Conhecimentos</h1>
</div>
<div class="conhecimentos">
    <div class="conhecimento">
        <div class="conhecimento-header">
            <i class="fab fa-html5"></i>
            <h3>HTML</h3>
        </div>
        <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                Harum fugit consectetur minima.</p>
        </div>
    </div>
    <div class="conhecimento">
        <div class="conhecimento-header">
            <i class="fab fa-css3-alt"></i>
            <h3>CSS</h3>
        </div>
        <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                Harum fugit consectetur minima.</p>
        </div>
    </div>
    <div class="conhecimento">
        <div class="conhecimento-header">
            <i class="fas fa-pencil-alt"></i>
            <h3>Desing</h3>
        </div>
        <div class="conhecimento-text">
            <p>Criar um layout de pagina para está sessao</p>
        </div>
    </div>
    <div class="conhecimento">
        <div class="conhecimento-header">
            <i class="fab fa-js"></i>
            <h3>Javascript</h3>
        </div>
        <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                Harum fugit consectetur minima.</p>
        </div>
    </div>
    <div class="conhecimento">
        <div class="conhecimento-header">
            <i class="fab fa-bootstrap"></i>
            <h3>Bootstrap</h3>
        </div>
        <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                Harum fugit consectetur minima.</p>
        </div>
    </div>
    <div class="conhecimento">
        <div class="conhecimento-header">
            <i class="fab fa-github"></i>
            <h3>GitHub</h3>
        </div>
        <div class="conhecimento-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                Harum fugit consectetur minima.</p>
        </div>
    </div>
</div>
</section>